#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {  
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #logo.animating {
    animation: logo-spin 3s ease-in-out;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
